html {
  font-size: 16px;
}

body {
// background: radial-gradient(ellipse farthest-corner, #000000 0%,#555753 100%);
background: radial-gradient(ellipse at center, #45484d 0%,#000000 100%);
width: 100vw;
height: 100vh;
}

.flexcontainer {
  display: flex;
}

.flexitem {
  flex: 1;
}
